
img {
    width: 100%;
    height: 245px;
border-radius: 33px;

}
.image {
    width: 35%;
    float: left;
    object-fit: cover;
padding: 10px;
  }
 
  .content {
    width: 65%;
    float: left;

  }



  .row{
    grid-template-columns:auto auto;
    grid-template-rows: 250px ;
    border-bottom: 2px solid gray;    
  
    padding-top: 2em;
    padding-bottom: 2em;
    display: flex;
    width: 50%;
    margin: auto;
    
  }
.me{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 280px;
    background-color: rgb(236, 233, 233);
    border-bottom: rgb(231, 229, 229);

}
.up{
    text-align: center;
    margin-top: 5em;
}
p{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
            line-clamp: 2; 
    -webkit-box-orient: vertical;
} 

.content a{

  float: right;

}


#loadMore {
  
   padding: 2em;
    width: 10%;
    margin: auto;  
}
#loadMore a {
  background: #faa635;
  border-radius: 3px;
  color: white;
  display: inline-block;
  padding: 10px 30px;
  transition: all 0.25s ease-out;
  -webkit-font-smoothing: antialiased;

}

.map{
  padding: 5em;  
  width: 50%;
  margin: auto;
  height: 300px;
}

/* 1200
992
768
480 */

body{
  @media screen {max-width: 1200px;
    min: width 992px; 
    
  }
}

.footer1{
  background-color: grey;
}