* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

 
}


.search h1{
padding: 20px 30px;

 
}
/* ---------------------------------------------- */
main {
  display: grid;
  grid-template-rows: 30px 70px auto 50px;
  grid-template-columns: 1fr 20%;

  grid-template-areas:
  
    "search side"
    "buttons side"
    "main side"
    "footer footer";
}
/* ---------------------------------------------- */
#buttons {
  max-width: 70%;
  margin: auto;
  display: flex;
  justify-content: center;
  
}
.bv {
  border: 1.5px solid salmon;
  color: salmon;
  cursor: pointer;
  background-color: transparent;
  border-radius: 100px;
  padding: 4px 13px;
  margin: 1em;
}
/* ------------------------------------------- */
.main {
  grid-area: main;
  justify-content: center;
 
}
.row1  {
  display: flex ;
  grid-template-columns: auto auto;
  column-gap: 20px;
  justify-content: center;
  align-items: center;
  font-size: larger;
  

}
.bottom-left3 {
  position: relative;
  text-align: start;
  color: white;

}
.bottom-left2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}
.row1 img {
  width: 400px;
  height: 250px;
  border-radius: 30px;
  padding: 6px;
  filter: brightness(90%);
}
.row1 h3, h6{
color: black;
text-align: left;
margin: 5px 20px;
}

/* ---------------------------------------- */
.side {
  background-color: rgb(255, 237, 235);
  grid-area: side;
  text-align: center;
}
.side h3, h2{
  color:black
}
.side img {
height: 200px;
width: 300px;
padding: 5px;
border-radius: 10px;
filter:brightness(90%)
}

.sidepic{
  position: relative;
  bottom: 110px;
  font-size: large;
  font-weight: bolder;
  color: white;  
}

.main a{
  text-decoration: none;
  color: black
}
.pagination{ 
     width: fit-content;
     position: relative;
     padding: 50px 0px;
     margin: 0px 350px;
     
  }
  
  .pagination ul{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background: #fff;
    padding: 8px;
    border-radius: 50px;
    box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
  }
  .pagination ul li{
    color: salmon;
    list-style: none;
    line-height: 45px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    user-select: none;
    transition: all 0.3s ease;
  }
  .pagination ul li.numb{
    list-style: none;
    height: 45px;
    width: 45px;
    margin: 0 3px;
    line-height: 45px;
    border-radius: 50%;
  }
  .pagination ul li.numb.first{
    margin: 0px 3px 0 -5px;
  }
  .pagination ul li.numb.last{
    margin: 0px -5px 0 3px;
  }
  .pagination ul li.dots{
    font-size: 22px;
    cursor: default;
  }
  .pagination ul li.btn{
    padding: 0 20px;
    border-radius: 50px;
  }
  .pagination li.active,
  .pagination ul li.numb:hover,
  .pagination ul li:first-child:hover,
  .pagination ul li:last-child:hover{
    color: #fff;
    background: salmon;
  }
.footer {
  background-color: #2f3542;
  grid-area: footer;
}


.navbar-default {
  border: none;
  background-color: salmon;
  margin: 0px;
  padding: 0px;
  /* padding: 0px auto; */
}